.dialog_box{
  height: 500px;
  width: 700px;
  position: absolute;
  margin-left: 100px;
}

/* game_home */
.it1{
  margin-left: 215px;
  margin-top: 70px;
}
.it2{
  margin-left: 190px;
  margin-top: 115px;
}
.it3{
  margin-left: 160px;
  margin-top: 160px;
}
.it4{
  margin-left: 130px;
  margin-top: 205px;
}
.it5{
  margin-left: 160px;
  margin-top: 250px;
}

.introText{
  font-size: 40px;
  position: absolute;
}
#home_play_button{
  background-color: black;
  color: white;
  border: none;
  padding: 10px 30px;
  font-size: 35px;
  position: absolute;
  margin-left: 380px;
  margin-top: 330px;
}

/* game main */
.background_game_map{
  background-image: url('images/background_game_map.png');
  background-repeat: no-repeat;
  /* background-position: top center; */
  height: 1000px;
  width: 1500px;
}
.button_row{
  display: none;
}
.noEatButton{
  background-color: red;
  color: black;
  padding: 10px 20px;
}
.notSureButton{
  background-color: yellow;
  color: black;
  padding: 10px 20px;
}
.eatButton{
  background-color: green;
  color: black;
  padding: 10px 20px;
}
