.dialog_box{
  height: 500px;
  width: 700px;
  position: absolute;
  margin-left: 100px;
}

/* game_home */
.it1{
  margin-left: 215px;
  margin-top: 70px;
}
.it2{
  margin-left: 190px;
  margin-top: 115px;
}
.it3{
  margin-left: 160px;
  margin-top: 160px;
}
.it4{
  margin-left: 130px;
  margin-top: 205px;
}
.it5{
  margin-left: 160px;
  margin-top: 250px;
}

.introText{
  font-size: 40px;
  position: absolute;
}
#home_play_button{
  background-color: black;
  color: white;
  border: none;
  padding: 10px 30px;
  font-size: 35px;
  position: absolute;
  margin-left: 380px;
  margin-top: 330px;
}

/* game map */
.background_game_map{
  background-image: url('images/background_game_map.png');
  background-repeat: no-repeat;
  /* background-position: top center; */
  height: 1000px;
  width: 1500px;
  position: absolute;
  margin-left: -200px;
}

.character{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
}
.mushroom_grid{
  padding-top: 200px;
  /* background-color: blue;
  text-align: center;
  align-self: center; */
}
.mushroom_row{
  /* background-color: blue; */
  text-align: center;
  margin-bottom: 100px;
}
.mushroom_icon{
  height: 200px;
  padding: 0 50px;
}

/* game mushroom */
.background_no_map{
  height: 1000px;
  width: 1500px;
  position: absolute;
  margin-left: -200px;
}
.main_mushroom_cont{
  width: 100%;
  height: 100%;
  text-align: center;
}
.main_mushroom{
  height: 700px;
  padding-top: 100px;
}
.button_row{
  display: flex;
  position: absolute;
  bottom: 0px;
  justify-content: space-evenly;
  width: 1500px;
}
.noEatButton{
  background-color: red;
  color: black;
  padding: 10px 20px;
}
.notSureButton{
  background-color: yellow;
  color: black;
  padding: 10px 20px;
}
.eatButton{
  background-color: green;
  color: black;
  padding: 10px 20px;
}
