{% extends "layout.html" %}

{% block head %}
<style>
    :root {
        --game-width: 100%;
        --game-height: 710px;
    }

    .game-container {
        min-height: var(--game-height);
        position: relative;
    }

    .align-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .background-img {
        z-index: -1;
    }

    .character-img {
        width: 200px;
        height: 200px;
        margin: auto;
        display:block;
    }

    .game-content {
    }

    .none {
        display: none;
    }

    .dialogue-box {
        background-color: var(--light-gray);
        border-radius: 15px;
        width: 80%;
        text-align: left;
        white-space: pre-line;
    }

    .game-img {
        height: 250px;
        width: 250px;
        border-radius: 15px;
        margin: auto;
        display: block;
    }

    .game-choice-img {
        height: 100px;
        width: 100px;
        border-radius: 15px;
        margin-left: 100px;
        margin-top: 50px;
    }

    .button-box {
        display: flex;
        justify-content: space-evenly;
    }

    .game-button {
        padding: 8px 26px;
        border-radius: 15px;
        border-color: white;
        border-width: thick;
        border-style: solid;
        font-size: 30px;
        font-weight: 700px;
    }
    .game-button:hover{
        font-weight: 800px;
        border-color: black;
        border-width: thick;
        border-style: solid;
        cursor: pointer;
    }

    .progress {
        height: 100%;
        width: 95%;
        border-radius: 15px;
        font-size: 20px;
        color: black;
    }

    .health-bar {
        background-color: var(--light-red);
        color: black;
    }

    .hunger-bar {
        background-color: var(--light-green);
        color: black;
    }
    
    .bar-label {
        font-size: 25px;
        font-weight: 800;
        padding-right: 10px;
    }

    .button-red {
        background-color: var(--light-red);
    }

    .button-green {
        background-color: var(--light-green);
    }

    .button-gray {
        background-color: var(--light-gray);
    }

    .triangle-container {
        position: absolute;
        bottom: -20px;
        left: 20%;
    }
    .triangle {
        fill: var(--light-gray);
    }

</style>

<script>
    let gameState = {{ state }};
    let hunger = {{ hunger }}
    let health = {{ health }}
</script>

<script>
    let quiz = {{ quiz_id | tojson }}
</script>

<script type="text/javascript" src="{{ url_for('static', filename = 'game/game.js') }}"></script>

{% endblock %}

{% block content %}
<div class="row py-3">
    <div class="col-6 d-flex">
        <span class="bar-label pr-2">
            Health:
        </span>
        <div class="progress">
            <div class="progress-bar health-bar" role="progressbar" style="width: {{ health }}%;" aria-valuenow="{{ health }}" aria-valuemin="0" aria-valuemax="100">{{ health }}</div>
        </div>
    </div>
    <div class="col-6 d-flex">
        <span class="bar-label pr-2">
            Hunger:
        </span>
        <div class="progress">
            <div class="progress-bar hunger-bar" role="progressbar" style="width: {{ hunger }}%;" aria-valuenow="{{ hunger }}" aria-valuemin="0" aria-valuemax="100">{{ hunger }}</div>
        </div>
    </div>
</div>
{% endblock %}

{% block game %}

<div class="w-100 game-container">
    {% if displayMap %}
    <img src="{{ url_for('static', filename = 'game/assets/background_map.png') }}" alt="" class="background-img align-bottom img-fluid">
    <div class="container">
        {% for q in quiz %}
            {% if not q.done %}
            <a href="/game/{{ q.id }}">
                <img src="{{ url_for('static', filename = q.img_url )}}" alt="" class="game-choice-img">
            </a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="container game-content align-bottom">
        <div class="row">
            <div class="col-6">
                <img src="{{ url_for('static', filename = 'game/assets/MC.png')}}" alt="" class="character-img">
            </div>
            <div class="col-6"></div>
        </div>
    </div>
    {% else %}
    <img src="{{ url_for('static', filename = 'game/assets/background.png') }}" alt="" class="background-img align-bottom img-fluid">
    <div class="container game-content align-bottom">
        <div class="row">
            <div class="col-6">
                
                <div class="dialogue-box align-bottom p-3"></div>
                <div> 
                    <svg height="20" width="20" class="triangle-container">
                        <polygon points="0,0 20,0 10,15" class="triangle" />
                    </svg>
                </div>
            </div>
            {% if displayGameImg %}
            <div class="col-6 game-img-cont">
                <img id="game-img" src="{{ url_for('static', filename = quiz.img_url )}}" alt="" class="game-img">
                <img id="game-cut-img" src="{{ url_for('static', filename = quiz.cut_img_url )}}" alt="" class="game-img">
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-6">
                <img src="{{ url_for('static', filename = 'game/assets/MC.png')}}" alt="" class="character-img">
            </div>
        </div>
    </div>
    {% endif %}
</div>

<div class="container py-3">
    <div class="button-box">
    </div>
</div>

{% endblock %}
