{% extends "layout.html" %}

{% block head %}

<script>
    let mushroom = {{ mushroom | tojson }}
</script>

<script type="text/javascript" src="{{ url_for('static', filename = 'game/game_ind_mushroom.js') }}"></script>

{% endblock %}

{% block content %}
<div class="background_no_map">
  <img class="character" src="{{ url_for('static', filename='game/assets/MC.png') }}"/>
  <img class="square_dialog_box" src="{{ url_for('static', filename='images/square_dialog_box.png') }}"/>

  <div id="dialog" class="dialog">
  </div>


  <div class="main_mushroom_cont">
    <img src="{{ url_for('static', filename=mushroom['img_url'] ) }}" class="main_mushroom"/>
  </div>

  <div class="button_row">
      <button id="noEatButton" class="noEatButton">This looks dangerous. Let's stay away.</button>
      <button id="notSureButton" class="notSureButton">Hmm, not sure</button>
      <button id="eatButton" class="eatButton">Looks edible! Let's eat it!</button>
  </div>

</div>
{% endblock %}
