{% extends "layout.html" %}

{% block head %}
<style>
    :root {
        --game-width: 700px;
        --game-height: 100px;
    }
   
    .character-img {
        width: 15em;
    }

    .game-area {
        display: flex;
        justify-content: space-between;
    }

    .game-container {
        max-width: var(--game-width);
        height: var(--game-height);
        margin: auto;
    }

    .none {
        display: none;
    }

    .dialogue-box {
        margin-left: auto;
        margin-right: 0;
        max-width: calc(var(--game-width) / 2);

        font-size: 20px;
    }

    .game-img {
        width: 200px;
        height: 200px;
    }

    .game-img > img {
        border-radius: 15px;
    }

    .button-box {
        display: flex;
        justify-content: space-evenly;
        font-size: 20px;
        
    }

    .game-button:hover {
        text-decoration: underline !important;
        cursor: pointer !important;
    }   
</style>

<script>
    let question = {{ question | tojson }} 
</script>

<script type="text/javascript" src="{{ url_for('static', filename = 'game/game.js') }}"></script>

{% endblock %}

{% block content %}
<div class="mt-5">
    <h1>Eat the edible mushrooms and get out of the forest (alive)!</h1>
    <div class="game-bar my-5 d-inline-flex">
        <div class="lives-container mr-3 d-flex">
            <h2>Lives:</h2>
            <div id="heart-container">
            {% for l in range(lives) %}
            <img src="{{ url_for('static', filename='game/assets/heart.png') }}"/>
            {% endfor %}
            </div>
        </div>
        <div class="lives-container">
            <h2>Hunger: {{ hunger }}/100</h2>
        </div>
    </div>
    <div class="game-container">
        <div class="dialogue-box">
            <span id="dialogue">{{ question.question }}</span>
        </div>
        <div class="game-area my-5">
            <img class="character-img" src="{{ url_for('static', filename='game/assets/MC.png') }}"/>
            <div class="game-img">
                <img class="img-fluid" src="{{ url_for('static', filename=mushroom.img_url) }}" />
            </div>
            <img class="character-img" src="{{ url_for('static', filename='game/assets/TG.png') }}"/>
        </div>
        <div class="button-box">
            <a type="button" id="skip" href="/game/{{ question.id + 1 }}" class="game-button">Hmm, let's skip this.</a>
        </div>
    </div>
</div>
{% endblock %}

