{% extends "layout.html" %}

{% block content %}

<html>

<head>
    <!--link js-->
    <script type="text/javascript" src="{{ url_for('static', filename = 'homepage.js') }}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

    <script>
        let lesson_name1 = {{ lesson_name1 | tojson}}
        let lesson_name3 = {{ lesson_name3 | tojson}}
    </script>

</head>

<body>
    <div class='center title'>
        Mushroom Scavenging
    </div>

    <div id='Overview'>
        <div class='row'>
            <div class='col-md-2'></div>

            <div class='col-md-4'>
                <a class="homepageCardName" href="/lessonplans" id='adventureTime'>
                    <div class='card centerVert'>
                        Learn
                    </div>
                </a>
            </div>

            <div class='col-md-4'>
                <a class="homepageCardName" href="/game/home" id='adventureTime'>
                    <div class= 'card centerVert'>
                        Adventure Time!
                    </div>
                </a>
            </div>

            <div class='col-md-2'></div>

            </div>
        </div>


    </div>
</body>

</html>

{% endblock %}
