{% extends "layout.html" %}

{% block content %}

<html>

<head>
    <!--link js-->
    <script type="text/javascript" src="{{ url_for('static', filename = 'homepage.js') }}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

    <script>
        let lesson_name1 = {{ lesson_name1 | tojson}}
        let lesson_name3 = {{ lesson_name3 | tojson}}
    </script>

    <style>
        .title {
            font-size: 30px;
            padding-right: 65px;
        }

        .center {
            text-align: center;
        }

        .padButtons {
            padding: 25px;
        }

        .lessonName {
            padding-bottom: 20px;
        }

    </style>

</head>

<body>
    <div class='center lessonName title'>
        Lesson Overview
    </div>

    <div id='Overview'>
        <div class='row'>
            <div class='col-md-2'></div>

            <div class='col-md-4'>      
                    Commonly Confused
                    <!-- dynamic append of lessons-->
                    <!-- <div class="container">
                        {% for f in lessons %}
                            <a><li>{{ f }}</li></a>
                        {% endfor %}
                    </div> -->
                    <li>test1</li>
                    <li>test2</li>
                    <li>test3</li>
            </div>

            <div class='col-md-4'>
                    Common Edible
                    <!-- dynamic append of lessons-->
                    <!-- <div class="container">
                        {% for f in lessons %}
                            <a><li>{{ f }}</li></a>
                        {% endfor %}
                    </div> -->
                    <a href = '/lesson/1'><li>test1</li></a>
                    <li>test2</li>
                    <li>test3</li>
            </div>

            <div class='col-md-2'></div>

        </div>
    </div>


    </div>
</body>

</html>

{% endblock %}